.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

.form-builder {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
}

.form-header {
  text-align: center;
  color: #3f50b5;
}

.toolbox,
.canvas {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background: #f9f9f9;
  min-height: 25rem;
  min-width: 25rem;
}

.field-item {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: grab;
  color: white;
  background-color: #3f50b5;
  text-align: center;
}

.available-fields {
  width: 12.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
}

.form-element {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.placeholder {
  color: #999;
  font-style: italic;
}

.form-element-label {
  margin-left: 0.3125rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.form-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

::ng-deep {
  .form {
    .mat-mdc-form-field-infix {
      width: 15.625rem !important;
      min-height: unset !important;
    }
    .mat-mdc-select-value-text,
    .mat-mdc-option .mdc-list-item__primary-text {
      font-size: 0.875rem !important;
    }

    .mat-mdc-select {
      font-size: 0.875rem !important;
    }

    .mat-internal-form-field > label {
      padding-left: 0.875rem !important;
      color: #2e2e2e;
    }

    .mdc-text-field--outlined .mat-mdc-form-field-infix {
      padding-top: 0.75rem !important;
    }

    .mat-mdc-form-field-error-wrapper {
      padding: 0 !important;
    }

    .mat-internal-form-field > label {
      margin-left: -0.9375rem !important;
      font-size: 0.875rem;
    }

    .mdc-checkbox {
      left: -0.625rem !important;
    }

    .mat-mdc-form-field-error {
      color: red !important;
      font-size: 0.875rem !important;
    }

    .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
      top: 1.4rem !important;
    }

    .mdc-floating-label {
      font-size: 0.875rem !important;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input {
      font-size: 0.875rem !important;
      padding: 0.1rem;
    }

    .mat-accent.mat-mdc-radio-button {
      --mdc-radio-selected-focus-icon-color: #3f50b5 !important;
      --mdc-radio-selected-icon-color: #3f50b5 !important;
      --mdc-radio-selected-pressed-icon-color: #3f50b5 !important;
      --mat-radio-checked-ripple-color: #3f50b5 !important;
      --mdc-radio-selected-hover-icon-color: #3f50b5;
    }

    .mat-datepicker-content {
      background-color: white !important;
      z-index: 1 !important;
    }

    .mat-mdc-form-field-icon-suffix {
      margin-bottom: 0.5rem;
    }

    .mat-calendar-body-selected {
      background-color: #3f50b5 !important;
    }

    .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
        .mat-calendar-body-comparison-identical
      ) {
      background-color: #3f50b5 !important;
      border-color: #3f50b5 !important;
    }

    .mat-mdc-form-field-icon-prefix {
      padding: 0 !important;
    }

    @media (max-width: 425px) {
      .mat-mdc-text-field-wrapper {
        width: 16rem !important;
        min-width: 16rem !important;
      }
    }
  }
}
